.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.sidebar {
  width: 17vw;
  background: #f7f7f7;
  padding: 1rem;
  border-right: 1px solid #ccc;
}

.sidebar h2 {
  margin-top: 0;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}


.tab-button {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 5px;
  border: 1px solid #6741d9;
  background-color: white;
  color: black;
  cursor: pointer;
}

.tab-button.active {
  background-color: #6741d9;
  color: white;
}


.tab-content ul {
  list-style: none;
  padding-left: 0;
}

.chat-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-sizing: border-box;
  width: 97%;
}

/* Chat box fills full width */
.chat-box {
  flex: 1;
  border: 1px solid #ccc;
  padding: 1rem;
  overflow-y: auto;
  margin-bottom: 1rem;
  font-family: "Segoe UI", sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 97%;
}

.msg {
  max-width: 70%;
  padding: 10px 14px;
  border-radius: 10px;
  line-height: 1.4;
  word-wrap: break-word;
}

.msg.user {
  align-self: flex-end;
  background-color: #e0e0e0;
  color: #000;
}

.msg.bot {
  align-self: flex-start;
  background-color: #f3f3ff;
  color: #333;
}


input {
  flex: 1;
  padding: 0.5rem;
}

.input-area {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: 100%;
}

.input-area input {
  flex: 1;
  padding: 0.5rem;
  font-size: 16px;
  border-radius: 10px;
}

.plus-btn {
  background-color: #6741d9;
  color: white;
  padding: 0.3rem 0.6rem;
  font-weight: bold;
}

.file-tab-list {
  font-size: 14px;
  padding: 0.4rem 0.6rem;
  margin-bottom: 6px;

}

.tab-button-files {
  width: 97%;
  padding: 0.5rem;
  margin-bottom: 5px;
  border: 1px solid #6741d9;
  background-color: white;
  color: black;
  cursor: pointer;
  border-radius: 10px;
}

.tab-button-files.active {
  background-color: #926eff;
  color: white;
}